@import "tailwindcss";

@theme {
    --color-dark-green: #162703;
    --color-light: #FAE0CD;
    --color-brown: #5E3820;
    --font-lemonada: "Lemonada";
    --font-italianno: "Italianno";
    --font-iowan: "Iowan Old Style";
    --font-inter: "Inter";
}

.clip-triangle {
    clip-path: polygon(-250px 0, 115% 0, 50% 60%);
}