@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

<<<<<<< Updated upstream
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
=======
@theme {
    --color-dark-green: #162703;
    --color-light: #FAE0CD;
    --color-brown: #5E3820;
    --font-lemonada: "Lemonada";
    --font-italianno: "Italianno";
    --font-iowan: "Iowan Old Style";
    --font-inter: "Inter";
}

.clip-triangle {
    clip-path: polygon(-250px 0, 115% 0, 50% 60%);
}
>>>>>>> Stashed changes
